

body{
    display:flex;
    justify-content: center; 
    }


.contenido{
    padding-left: 50px;
    padding-right: 50px;
    /*background-color:aqua;*/
    margin-left: 15%;
    margin-right: 15%;
    width: 1440px;
}

.navega{
    display:grid ;
    grid-template-columns: 50fr 50fr;
    align-items: center;  
    padding-left: 15%;
}

.navs{
    display:flex ;
    align-items: center;   
    
}

.navs p,h1{
    margin-right: 10px;
    
}

.navs p{
    margin-right: 10px;
    color: hsl(0, 0%, 75%);
    &:hover{
        color: black;
    }
}

.logSig{
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    padding-right: 33%;
}

.logSig button{
    margin-right: 10px;
}

.TextPresenta{
    display: grid;
    grid-template-columns: 50fr 40fr;
    padding-left: 15%;
    padding-right: 15px;
    font-family: 'Poppins', sans-serif;
    margin-right: 20%;
}

.Texts h1{
    font-size: 60px;
font-weight: bold;
}

.Texts p{
    font-size: 23px;
    padding-right: -10px;
    color: hsl(0, 0%, 75%);
}
.imagen{
    overflow: hidden;
    padding-left: 20%;
}

.logSig button{
    border-radius: 20px;
    padding: 5px 15px;
    border: none;
    background-color: transparent;
    color: gray;
    &:hover{  
        background-color: hsl(180, 66%, 49%, 0.5) ;
    }  
    /* &:active{
        background-color: hsl(180, 66%, 49%);
    } */

}


.GetStart{
    background-color: hsl(180, 66%, 49%);
    padding: 10px 25px;
    border-radius: 25px;
    border: none;
    color: white;
    &:hover{  
        background-color: hsl(180, 66%, 49%, 0.5) ;
    }  

}

.short{
    position:relative;
    background-color:#3A3053;
    padding: 30px;
    width: 67%;
    border-radius: 10px;  
    margin-left: 15%;  
   
}

.cajashort input{
    width: 75%;
    height: 50px;
    border-radius: 10px;
   
}

.cajashort button{
    background-color: hsl(180, 66%, 49%);
    padding: 10px 25px;
    border-radius: 10px;
    border: none;
    color: white;
    &:hover{  
        background-color: hsl(180, 66%, 49%, 0.5) ;
    }  
    font: bold;
    
}

/*comienza segunda parte*/
.contenedor{
    
    padding: 15px;
    gap: 30px;
    box-sizing: border-box;
    padding-bottom: 400px;
    padding-top: 100px;
    position: relative; 
    }

    .parte2{
        background-color: #F0F1F6;
        
    }
    
    .titulos{
     text-align: center;
     padding-top: 120px;
        
    }
    
    #subti2{
        text-align: center;
        color:gray;
        opacity: 45%;
       padding-left: 410px;
       padding-right: 410px;
    }


    .cir1{
       margin-left: 25px;
       position: absolute;
       left: 208px;
       top:60px;
      z-index: 1;


      
    }
   
    .cir2{
       margin-left: 25px;
       position: absolute;
       right: 408px;
       top:119px;
      z-index: 1;
      
    }
   
    .cir3{
       margin-left: 25px;
       position: absolute;
       left: 570px;
       top:95px;
       z-index: 1;
      
    }
   
   
   .C1{
        position: absolute;
       background-color: white;
       padding-top: 60px;
       padding-bottom: 60px;
       padding-right: 35px;
       padding-left: 35px;
       text-align: left;
       width: 320px;
       position: absolute;
       left: 200px;;
       box-sizing: border-box;
   
   }
   
   .C2{
   
    background-color: white;
       padding-top: 60px;
       padding-bottom: 60px;
       padding-right: 35px;
       padding-left: 35px;
       text-align: left;
       width: 320px;
       position: absolute;
       right: 200px;
       top:165px;
       box-sizing: border-box;
      
     
   }
   
   
   .C3{
   
       background-color: white;
       padding-top: 60px;
       padding-bottom: 60px;
       padding-right: 35px;
       padding-left: 35px;
       text-align: left;
       width: 320px;
       position: absolute;
       left: 560px;
        top:135px;
        box-sizing: border-box;
   }
   

   .conector1{
    background-color: aqua;
    width:39px ;
    height: 5px;
    position: absolute;
    left:520px;
    top:220px
   }
   

   .conector2{
    background-color: aqua;
    width:39px ;
    height: 5px;
    position: absolute;
    right: 520px;
    top:220px
   }


   
    .cajaconfondo{
       position:relative;
       background-color:#3A3053;
    }
   
    .subti{
       position: absolute;
       top: 35%;
       left: 40%;
       color: white;
       
    }
   
   .gbtn{
       position:absolute;
       top: 65%;
       left: 46%;
       color: white;
       background-color:#2BD1D1;
       border-radius: 35px;
       padding-left: 30px;
       padding-right: 30px;
       padding-top: 10px;
       padding-bottom: 10px;
    }
   
    .gbtn:hover{
       background-color: #2BD1D1;
       opacity: 90%;
    }
   
    Footer{
       background-color: #232027; 
       display: flex;
       gap:250px;
       color: white;
       box-sizing: border-box;
   justify-content: space-between;
   }
   
   .redes{
       display: flex;
       gap:15px;
       margin-right: 150px;
       box-sizing: border-box; 
       margin-top: 22px;
   }
   
   .lista{
       display: flex;
                     
   }
   
   ul{
       list-style-type: none;
   }
   
   
   .lista2{
   
   margin-left: 50px;
   margin-right: 50px;
   }
   
   .lista3{
   
     margin-right: 10px;
   }
   
   
   
   .tit3{
       margin-left: 120px;
       padding: 0px;
       margin-top: 22px;
       font-size: 30px;
   }
   
   